@import "variables.scss";
@import "logoSVG.scss";
$middle-height: 25vh;
$middle-min-height: 200px;

$middle-min-width: 300px;
$middle-width: 50vw;
$middle-max-width: 600px;

$colorTime: 1s;

body {
    min-height: 200vh;
    margin: 0;
}

h1, h2, a {
    @include fonts($weight: 300);
    text-align: center;
}

p {
    @include fonts;
}

.nav {
    position: absolute;
    display: flex;
    flex-grow: 1;
    text-align: center;
    font-size: 14pt;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    line-height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49);
    a {
        background: rgb(0, 150, 166);
        text-decoration: none;
        @include transitionBackground(1s);
        &:not(:nth-child(2)) {
            width: 20vw;
        }
        &:nth-child(2) {
            width: 60vw;
        }
        &:hover {
            @include transitionBackground(1s);
            background: $selectionBlue;
        }
    }
}

.imgContainer {
    height: 80vh;
    background: url(images/drinkBackground.jpg) no-repeat center center fixed;
    @include centerBackgroundPhoto;
    display: flex;
    overflow: hidden;
    .tag {
        @include widthRange(200px, 50vw, 500px);
        margin: auto;
        text-align: center;
        background: rgb(0, 150, 166);
        padding: 20px 0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.63);
    }
}

#about {
    min-height: 100vh;
    padding-bottom: 10vh;
    .whatWhy {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        padding: 20px 0px;
        .what h2, .why h2, .policiesHeader h2, .policyBox h2 {
            color: $textGrey;
        }

        .what, .why {
            padding: 20px;
            min-height: 200px;
            min-width: 200px;
        }

        .what p, .why p, .policyBox p {
            font-weight: 300;
            text-indent: 20px;
            line-height: 1.5;
            padding: 0 10px;
            text-align: justify;
            color: $textGrey;
        }
    }
    .policiesHeader {
        color: $textGrey;
        font-weight: 500;
        padding: 10px 0;
        font-size: 24pt;
        margin: 5vh auto 3vh auto;
        width: 90vw;
    }

    .policies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

$break2: 1100px;
$break1: 600px;


@media screen and (min-width: $break2) {
    .policyBox {
        width: 20vw;
    }
    .whatWhy {
        .what, .why {
            width: 40vw;
            max-width: 400px;
        }
    }
}


@media screen and (max-width: $break2) and (min-width: $break1) {
    .policyBox {
        width: 40vw;
    }
    .whatWhy {
        flex-wrap: wrap;
        .what, .why {
            margin: 1vw;
            width: 40vw;
        }
    }
}

@media screen and (max-width: $break1) {
    * {
        font-weight: 300;
    }
    .policyBox {
        width: 90vw;
    }
    .whatWhy {
        flex-wrap: wrap;
        .what, .why {
            margin: 1vw;
            width: 80vw;
        }
    }
}