@mixin fonts($weight: 100, $color: white) {
    font-family: 'Lato', sans-serif;
}

@mixin totalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin aStripStyle($color) {
    text-decoration: none;
    color: $color;
    text-align: center;
    @include fonts;
}

@mixin transitionBackground($time) {
    transition: background $time ease;
}

@mixin heightRange($min, $regular, $max) {
    min-height: $min;
    height: $regular;
    max-height: $max;
}

@mixin widthRange($min, $regular, $max) {
    min-width: $min;
    width: $regular;
    max-width: $max;
}

@mixin gradient {
    background: 
        linear-gradient(
            $sand, 
            $mintGreen, 
            $lightBlue, 
            $deepBlue, 
            $grey
    );
}

@mixin centerBackgroundPhoto {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 2000px;
    animation: fadein .5s;
}


/*Colors*/
$semiClearBlack:rgba(0, 0, 0, 0.6);
$selectionBlue: rgba(0, 206, 255, 0.6);
$sand:          #e5eec1;
$mintGreen:     #a2d4ab;
$lightBlue:     #3eaca8;
$deepBlue:      #457a82; 
$grey:          #5a5050;
$textGrey:      #626262;