/*Colors*/
svg {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto; }

circle {
  stroke-dasharray: 230;
  animation: dash 8s linear forwards;
  stroke-dashoffset: 230; }

polyline {
  stroke-dasharray: 230;
  animation: dash 2s linear forwards;
  stroke-dashoffset: 230; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
body {
  min-height: 200vh;
  margin: 0; }

h1, h2, a {
  font-family: 'Lato', sans-serif;
  text-align: center; }

p {
  font-family: 'Lato', sans-serif; }

.nav {
  position: absolute;
  display: flex;
  flex-grow: 1;
  text-align: center;
  font-size: 14pt;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  line-height: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49); }
  .nav a {
    background: #0096a6;
    text-decoration: none;
    transition: background 1s ease; }
    .nav a:not(:nth-child(2)) {
      width: 20vw; }
    .nav a:nth-child(2) {
      width: 60vw; }
    .nav a:hover {
      transition: background 1s ease;
      background: rgba(0, 206, 255, 0.6); }

.imgContainer {
  height: 80vh;
  background: url(images/drinkBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 2000px;
  animation: fadein .5s;
  display: flex;
  overflow: hidden; }
  .imgContainer .tag {
    min-width: 200px;
    width: 50vw;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background: #0096a6;
    padding: 20px 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.63); }

#about {
  min-height: 100vh;
  padding-bottom: 10vh; }
  #about .whatWhy {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px 0px; }
    #about .whatWhy .what h2, #about .whatWhy .why h2, #about .whatWhy .policiesHeader h2, #about .whatWhy .policyBox h2 {
      color: #626262; }
    #about .whatWhy .what, #about .whatWhy .why {
      padding: 20px;
      min-height: 200px;
      min-width: 200px; }
    #about .whatWhy .what p, #about .whatWhy .why p, #about .whatWhy .policyBox p {
      font-weight: 300;
      text-indent: 20px;
      line-height: 1.5;
      padding: 0 10px;
      text-align: justify;
      color: #626262; }
  #about .policiesHeader {
    color: #626262;
    font-weight: 500;
    padding: 10px 0;
    font-size: 24pt;
    margin: 5vh auto 3vh auto;
    width: 90vw; }
  #about .policies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

@media screen and (min-width: 1100px) {
  .policyBox {
    width: 20vw; }

  .whatWhy .what, .whatWhy .why {
    width: 40vw;
    max-width: 400px; } }
@media screen and (max-width: 1100px) and (min-width: 600px) {
  .policyBox {
    width: 40vw; }

  .whatWhy {
    flex-wrap: wrap; }
    .whatWhy .what, .whatWhy .why {
      margin: 1vw;
      width: 40vw; } }
@media screen and (max-width: 600px) {
  * {
    font-weight: 300; }

  .policyBox {
    width: 90vw; }

  .whatWhy {
    flex-wrap: wrap; }
    .whatWhy .what, .whatWhy .why {
      margin: 1vw;
      width: 80vw; } }

/*# sourceMappingURL=main.css.map */
