/*
  File:     CustomUIElements
  Type:     scss
  Creator:  Connor Christensen
  Purpose:  A SCSS file that includes some custom UI elements that are
            shared across multiple pages, such as the back button.

  Date Created:     11/16/2016
  Most Recent Edit: 11/16/2016
*/
/*Colors*/
.back {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 18pt;
  text-decoration: none; }
  .back div {
    text-align: center;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.6);
    transition: background 1s ease; }
    .back div:hover {
      transition: background 1s ease;
      background: rgba(0, 206, 255, 0.6); }

* {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  color: white; }

body {
  margin: 0; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding-top: 60px;
  width: 100vw;
  background: linear-gradient(#e5eec1, #a2d4ab, #3eaca8, #457a82, #5a5050); }
  .wrapper .search {
    text-align: center;
    min-width: 300px;
    width: 80vw;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.6); }
    .wrapper .search .by {
      display: flex; }
      .wrapper .search .by h2 {
        margin: 0;
        padding: 20px 0;
        width: 50%;
        text-align: center; }
  .wrapper h2 {
    text-align: center; }
  .wrapper input {
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 16pt;
    width: 70%;
    margin: 8px 0;
    line-height: 20px;
    border: none; }
  .wrapper input[type="submit"] {
    width: 30%;
    color: white;
    background: none;
    border: 1px solid white;
    margin: 20px auto 30px auto;
    padding: 10px 20px;
    font-size: 16pt;
    transition: background 0.5s ease;
    cursor: pointer; }
    .wrapper input[type="submit"]:hover {
      transition: background 0.5s ease;
      background: rgba(0, 206, 255, 0.6); }
  .wrapper input[type="checkbox"] {
    width: 20px;
    display: block;
    margin: 10px auto;
    border-radius: 0;
    -webkit-apperance: none; }

.topTens {
  margin: 0;
  background: #1d4e60;
  padding: 20px 5vw 10vh 5vw; }
  .topTens .list {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    height: 140px; }
    .topTens .list .leftClick, .topTens .list .rightClick {
      position: absolute;
      height: 140px;
      width: 50px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 10;
      cursor: pointer;
      transition: .5s; }
      .topTens .list .leftClick:hover, .topTens .list .rightClick:hover {
        background: rgba(0, 255, 186, 0.58);
        transition: .5s; }
    .topTens .list .leftClick {
      left: 0; }
    .topTens .list .rightClick {
      right: 0; }
    .topTens .list .scrollContainer {
      position: absolute;
      display: flex;
      align-items: center;
      left: 0;
      transition: 1s;
      width: 0px; }
      .topTens .list .scrollContainer .item {
        display: inline-block;
        margin: 10px;
        background: #ffffff;
        width: 15vmin;
        height: 15vmin;
        min-width: 120px;
        min-height: 120px; }
        .topTens .list .scrollContainer .item .imgContainer {
          min-height: 96px;
          height: 12vmin;
          min-width: 120px;
          width: 15vmin;
          margin: 0;
          padding: 0;
          border: none;
          overflow: hidden; }
          .topTens .list .scrollContainer .item .imgContainer img {
            min-width: 120px;
            width: 15vmin; }
        .topTens .list .scrollContainer .item h4 {
          margin: 0;
          padding: 0;
          color: black;
          font-weight: 300;
          text-align: center;
          line-height: 3vmin; }

/*# sourceMappingURL=search.css.map */
