@import "../scss/customUIElements.scss";

$middle-min-width: 300px;
$middle-width: 80vw;
$middle-max-width: 1000px;

* {
    @include fonts;
}

body {
    margin: 0;
}

.wrapper {
    @include totalCenter;
    min-height: 60vh;
    padding-top: 60px;
    width: 100vw;
    background: 
        linear-gradient(
            #e5eec1, 
            #a2d4ab, 
            #3eaca8, 
            #457a82, 
            #5a5050
    );
    .search {
        text-align: center;
        @include widthRange($middle-min-width, $middle-width, $middle-max-width);
        background: rgba(0, 0, 0, 0.6);
        .by {
            display: flex;
            h2 {
                margin: 0;
                padding: 20px 0;
                width: 50%;
                text-align: center;
            }
        }
    }
    h2 {
        text-align: center;
    }
    input {
        color: black;
        text-align: center;
        font-weight: 300;
        font-size: 16pt;
        width: 70%;
        margin: 8px 0;
        line-height: 20px;
        border: none;
    }
    input[type="submit"] {
        width: 30%;
        color: white;
        background: none;
        border: 1px solid white;
        margin: 20px auto 30px auto;
        padding: 10px 20px;
        font-size: 16pt;
        @include transitionBackground(.5s);
        cursor: pointer;
        &:hover {
            @include transitionBackground(.5s);
            background: $selectionBlue;
        }
    }
    input[type="checkbox"] {
//        display: none;
        width: 20px;
        display: block;
        margin: 10px auto;
        border-radius: 0;
        -webkit-apperance: none;
    }
}

$item-width: 15vmin;
$item-height: 15vmin;
$item-min-width: 120px;
$item-min-height: 120px;
.topTens {
    margin: 0;
    background: #1d4e60;
    padding: 20px 5vw 10vh 5vw;
    .list {
        position: relative;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.6);
        .scrollContainer {
//            position: absolute;
            width: 2000px;
            .item {
                float: left;
                margin: 10px;
                background: #ffffff;
                width: $item-width;
                height: $item-height;
                min-width: $item-min-width;
                min-height: $item-min-height;
                .imgContainer {
                    min-height: $item-min-height*.8;
                    height: $item-height*.8;
                    min-width: $item-min-width;
                    width: $item-width;
                    margin: 0;
                    padding: 0;
                    border: none;
                    overflow: hidden;
                    img {
                        min-width: $item-min-width;
                        width: $item-width;
                    }
                }
                h4 {
                    margin: 0;
                    padding: 0;
                    color: black;
                    font-weight: 300;
                    text-align: center;
                    line-height: $item-height*.2;
                }
            }
        }
    }
}

#logOut {
    position: fixed;
    bottom: 0;
    background: $semiClearBlack;
    border: none;
    width: 100vw;
    margin: 0;
    font-size: 16pt;
    padding: 10px 0;
    cursor: pointer;
    @include transitionBackground(.5s);
    &:hover {
        @include transitionBackground(.5s);
        background: $selectionBlue;
    }
}

@media screen and (min-width: 800px) {
}

@media screen and (max-width: 700px) {
}