@import "../scss/customUIElements.scss";

body {
    margin: 0;
    min-height: 100vh;
    @include gradient;
}

.resultsContainer {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.drinkCard {
    position: relative;
    min-width: 200px;
    width: 300px;
    padding: 15px;
    background: white;
    margin: 1vmax;
    padding-bottom: 50px;
    h2 {
        text-align: center;
    }
    h4 {
        text-indent: 30px;
        margin: 0;
        padding: 0;
    }
    h2, h4, li, p {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    .imgContainer {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .like {
        width: 100%;
        border-top: 3px solid #bababa;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 10px 0 5px 0;
        @include transitionBackground(.5s);
        cursor: pointer;
        height: 40px;
        &:hover {
            @include transitionBackground(.5s);
            background: #1f8450;
        }
        .likeContainer {
            position: flex;
            justify-content: center;
            align-items: center;
            img {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                height: 40px;
            }
        }
    }
}